.loadingContainer {
  height: 100vh;
  min-height: 410px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewContainer {
  height: calc(100vh - 50px);
  border:1px solid #FFF;
}