.mainWrapper {
  padding: 10px 30px 30px 30px;
  display: flex;
  justify-content: center;
}

.categories {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.loadingContainer {
  height: 100vh;
  min-height: 410px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}