.formContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  padding: 4px 0 0 0;
  font-size: 22px;
  font-weight: 100;
  color: #555555;
}

.createBudgetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.categoryWrapper {
  border: 1px solid #DDD;
  background: #f9f9f9;
  padding: 2px 20px 20px;
  margin-top: 24px;
}

.saveButton {
  height: 38px;
  background: rgba(69, 171, 127, 1);
  color: #FFFFFF;
  width: 250px;
  font-weight: 100;
  font-size: 15px;
  margin: 24px 0 0 0;
  cursor: pointer;
  border: none;
  &:hover {
    background: #4AB888;
  }
  &:focus {
    background: #4AB888;
  }
}

.errorContainer {
  height: 38px;
  width: 250px;
  margin-top: 12px;
  font-weight: 100;
  font-size: 15px;
  background: #ED6464;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
