.budgetSummaryMain {
  padding: 0 30px 30px 30px;
}

.budgets {
  margin-top: 10px;
  width: 100%;
}

.budgetContainer {
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.budgetHeader {
  //border:1px solid red;
  font-size: 14px;
  font-weight: 100;
  color: #37424B;
  cursor: default;
  padding: 0 0 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.budgetMain {
  display: flex;
  flex-direction: row;
  height: 35px;
  position: relative;
}

.progressBar {
  width: 100%;
  height: 100%;
}

:global(.progress-bar-success) {
  background: #4FC3F7;
  line-height: 35px;
  box-shadow: none;
}
