.budgetSummaryMain {
  padding: 10px 30px 30px 30px;
}

.budgets {
  margin-top: 10px;
  width: 100%;
}

.budgetContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  height: 52px;
}

.budgetLoading {
  @extend .budgetContainer;
  justify-content: flex-start;
  align-items: center;
}

.budgetHeader {
  font-size: 15px;
  font-weight: 100;
  color: #455A64;
  cursor: default;
  padding: 0 0 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.budgetMain {
  display: flex;
  flex-direction: row;
  height: 28px;
  position: relative;
}

.headerName {
  padding-left: 6px;
}

.total {
  padding-right: 6px;
}

.progressBar {
  width: 100%;
  height: 100%;
}

:global(.progress) {
  box-shadow: none;
  border: 1px solid #DDD;
}

:global(.progress-bar-success) {
  background: #45AB7F;
  line-height: 26px;
  box-shadow: none;
  font-weight: 300;
  font-size: 15px;
  cursor: default;
}
