.formContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.title {
  font-size: 20px;
  font-weight: 100;
  color: #455A64;
}

.newTransactionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

:global(.dropdown button) {
  width: 290px;
  height: 38px;
  margin-bottom: 20px;
  color: #AAA;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 16px;
}

:global(.btn-default) {
  color: #455A64;
  background-color: #FFF;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    border-bottom: 1px solid #CCCCCC;
    color: #AAA;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 16px;
  }
}

:global(.btn .caret){
  margin-left: 10px;
  margin-top: 4px;
}

:global(.btn .btn-default:active) {
  color: #FFFFFF;
  background-color: #FFFFFF;
  border: none;
}

.transactionInput {
  border: 1px solid #FFFFFF;
  border-radius: 0;
  border-bottom: 1px solid #CCCCCC;
  width: 290px;
  margin-bottom: 0;
  &:focus {
    border-bottom: 1px solid #45AB7F;
  }
}

.errorContainer {
  width: 290px;
  height: 18px;
  color: #ED6464;
  font-weight: 100;
  font-size: 13px;
  margin: 6px 0 0;
  padding-left: 8px;
}

.saveButton {
  width: 290px;
  height: 38px;
  border-radius: 4px;
  background: rgba(69, 171, 127, 1);
  color: #FFFFFF;
  font-weight: 100;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  cursor: pointer;
  &:hover {
    background: #4AB888;
  }
  &:focus {
    background: #4AB888;
  }
}