.main {
  height: 100vh;
  min-height: 410px;
  width: 100%;
  background: url('../../assets/common/coins-bg.jpg') no-repeat top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px 10px;
  height: 255px;
  margin-top: 50px;
}

.titleContainer {
  height: 38px;
  border-radius: 4px;
  color: #45AB7F;
  width: 250px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 12px;
  cursor: default;
}

.piggybankIcon {
  height: 38px;
  width: 38px;
  background-size: cover;
  background: url('../../assets/common/piggybank-icon.svg') no-repeat center;
  //background: url('../../assets/common/piggybank-white-icon.svg') no-repeat center;
  margin-right: 12px;
}

input {
  height: 38px;
  border-radius: 4px;
  background: #FFF;
  color: #455A64;
  padding: 0 12px;
  width: 250px;
  font-weight: 100;
  font-size: 16px;
  line-height: 38px;
  border: 1px solid #45AB7F;
  outline: 0;
  margin-bottom: 10px;
}

.loginButton {
  height: 38px;
  border-radius: 4px;
  background: rgba(69, 171, 127, 1);
  color: #FFFFFF;
  width: 100%;
  font-weight: 100;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  &:hover {
    background: #4AB888;
  }
  &:focus {
    background: #4AB888;
  }
}

.switchForm {
  font-weight: 100;
  font-size: 12px;
  margin-top: 10px;
  color: #FFFFFF;
  width: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isError {
  border: 1px solid #ED6464;
}

.errorMessageContainer {
  font-weight: 400;
  font-size: 15px;
  color: #ED6464;
  padding: 0 12px;
  width: 250px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}