.main {
  height: 100vh;
  min-height: 410px;
  width: 100%;
  background: url('./images/piggybank.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px 10px;
}

.titleContainer {
  height: 38px;
  border-radius: 4px;
  color: #45AB7F;
  width: 250px;
  font-weight: 100;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 12px;
  cursor: default;
}

.piggybankIcon {
  height: 38px;
  width: 38px;
  background-size: cover;
  background: url('./images/piggybank-icon.svg') no-repeat center;
  margin-right: 12px;
}

input {
  height: 38px;
  border-radius: 4px;
  background: #FFF;
  color: #303C42;
  padding: 0 12px;
  width: 250px;
  font-weight: 100;
  font-size: 16px;
  line-height: 38px;
  border: 1px solid #45AB7F;
  outline: 0;
  &:nth-child(2) {
    margin-bottom: 10px;
  }
}

.loginButton {
  height: 38px;
  border-radius: 4px;
  background: rgba(69, 171, 127, 1);
  color: #FFFFFF;
  width: 250px;
  font-weight: 100;
  font-size: 15px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0 12px;
  cursor: pointer;
  &:hover {
    background: rgba(69, 171, 127, 0.9);
  }
}