.main {
  height: 100vh;
  width: 100%;
  background: url('../../assets/common/coinsFinal2.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  padding: 24px;
}

.titleContainer {
  height: 32px;
  border-radius: 4px;
  color: #45AB7F;
  width: 250px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  padding: 0 12px;
  cursor: default;
}

.piggybankIcon {
  height: 34px;
  width: 34px;
  background-size: cover;
  background: url('../../assets/common/piggybank-icon.svg') no-repeat center;
  margin-right: 12px;
}

.loginButton {
  outline: 0;
  height: 38px;
  background: rgba(69, 171, 127, 1);
  color: #FFFFFF;
  width: 250px;
  font-weight: 100;
  font-size: 15px;
  margin: 14px 0 0 0;
  cursor: pointer;
  border: none;
  &:hover {
    background: #4AB888;
  }
  &:focus {
    background: #4AB888;
  }
}

.switchForm {
  margin-top: 14px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-weight: 400;
    font-size: 14px;
    color: #45AB7F;
    cursor: pointer;
    &:focus {
      color: #4AB888;
    }
    &:hover {
      color: #4AB888;
    }
  }
}

.errContainer {
  height: 38px;
  width: 250px;
  background: #ED6464;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 15px;
  margin: 14px 0 0 0;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 380px) {
  .box {
    width: 100%;
    margin-top: 0;
  }
}