.budgetDetailsMain {
  padding: 0 30px 30px 30px;
  border: 1px solid red;
}

.title {
  border:1px solid green;
  font-size: 20px;
  font-weight:100;
}

.summary {
  border:1px solid blue;
  font-size: 16px;
  font-weight:100;
}