.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactionContainer {
  border-bottom: 1px solid #D9D9D9;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  &:first-child {
    border-top: 1px solid #D9D9D9;
  }
  &:nth-child(2n) {
    background: #F4F4F4;
  }
}

.amountContainer {
  width: 115px;
  height: 100%;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #455A64;
  cursor: default;
}

.transactionDetailsContainer {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 8px 12px 4px;
  cursor: default;
  .row {
    color: #455A64;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    .date {
      font-weight: 400;
      line-height: 18px;
    }
    .description {
      font-size: 13px;
      line-height: 18px;
    }
    &:last-child {
      margin-bottom: 0px !important;
    }
  }
}
