.mainWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.detailsWrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.summarySpacing {
  padding-left: 30px;
}

.loadingContainer {
  height: 100vh;
  min-height: 410px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .summarySpacing {
    padding-left: 20px;
  }
}